---
# Copyright (c) 2020, 2023 Oracle and/or its affiliates.
# This software is made available to you under the terms of the GPL 3.0 license or the Apache 2.0 license.
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)
# Apache License v2.0
# See LICENSE.TXT for details.
# File Storage requires stateful ingress to TCP ports 111, 2048, 2049, and 2050
# and stateful ingress to UDP ports 111 and 2048. For more information, please
# check U(https://docs.cloud.oracle.com/iaas/Content/File/Tasks/securitylistsfilestorage.htm)

sample_public_subnet_ingress_security_rules:
  - source: "{{ cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 2048
        max: 2050
  - source: "{{ cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 111
        max: 111
  - source: "{{ cidr_block }}"
    protocol: "{{ udp_protocol }}"
    udp_options:
      destination_port_range:
        min: 2048
        max: 2048
  - source: "{{ cidr_block }}"
    protocol: "{{ udp_protocol }}"
    udp_options:
      destination_port_range:
        min: 111
        max: 111
  - source: "{{ all_cidr_block }}"
    protocol: "{{ tcp_protocol }}"
    tcp_options:
      destination_port_range:
        min: 22
        max: 22

