---
# Copyright (c) 2020, 2023 Oracle and/or its affiliates.
# This software is made available to you under the terms of the GPL 3.0 license or the Apache 2.0 license.
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)
# Apache License v2.0
# See LICENSE.TXT for details.
egress_security_rules_for_default_sec_list:
  # stateless egress rule for the first worker node subnet
  - is_stateless: yes
    destination: "{{ subnet1_cidr }}"
    protocol: all
  # stateless egress rule for the second worker node subnet
  - is_stateless: yes
    destination: "{{ subnet2_cidr }}"
    protocol: all
  # stateless egress rule for the third worker node subnet
  - is_stateless: yes
    destination: "{{ subnet3_cidr }}"
    protocol: all
egress_security_rules_for_lb:
  - destination: "{{ quad_zero_route }}"
    protocol: "{{ TCP_protocol }}"
    is_stateless: yes
