---
# Copyright (c) 2020, 2023 Oracle and/or its affiliates.
# This software is made available to you under the terms of the GPL 3.0 license or the Apache 2.0 license.
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)
# Apache License v2.0
# See LICENSE.TXT for details.
instance_egress_security_rules:
  # Allow ssh connections outside
  - destination: "{{ quad_zero_route }}"
    protocol: "{{ TCP_protocol }}"
    tcp_options:
      destination_port_range:
        min: {{ SSH_port }}
        max: {{ SSH_port }}

