/* Include the theme's normal CSS using the CSS @import rule. */
@import 'css/theme.css';
/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
.wy-nav-content {
   min-width: 767px;
   max-width: min-content !important;
}

/* documentation-table is used by tables in the generated module documentation. */
.documentation-table td.elbow-placeholder {
    border-left: 1px solid #000;
    border-top: 0px;
    width: 30px;
    min-width: 30px;
}

.documentation-table th, .documentation-table td {
    padding: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.documentation-table {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    word-spacing: 2px !important;
    line-height: 1.5 !important;
}